.header {
	font-size: 10 em;
	white-space: nowrap;
	margin: auto;
	width: auto;
}
body {
	padding-top: 30px;
	padding-bottom: 20px;
}
.homepage{
	background: url(.//images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}
.textcenter {
	text-align: center;
}
.padding {
	padding-top: 50px;

}
hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.fancypic2{
	background: url(.//images/bottombg.jpg) no-repeat center center fixed;!important;
	-webkit-background-size: cover;!important
  -moz-background-size: cover;!important
  -o-background-size: cover;!important
  background-size: cover;!important
        width:200%;
				opacity:60%;


}
.sidebar_left{
    position:fixed;
    left:0;
    top:50px;
    bottom:0;
    width: 16%;
}
.sidebar_right{
    position:fixed;
    right:0;
    top:50px;
    bottom:0;
    width: 16%;
}
.birdcage1 {
	background-color: #222;
	position:fixed;
	left:0;
	top:50px;
	bottom:0;
	width: 16%;
	/* Chrome, Safari, Opera */
	-webkit-animation-name: birdcage;
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Standard syntax */
	animation-name: myfirst;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-delay: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}
.birdcage2 {
	background-color: #222;
	position:fixed;
	right:0;
	top:50px;
	bottom:0;
	width: 16%;
	/* Chrome, Safari, Opera */
	-webkit-animation-name: birdcage;
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Standard syntax */
	animation-name: myfirst;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-delay: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes birdcage {
	0%   {background-color:#222;}
	100% {background-color:white;}
}

/* Standard syntax */
@keyframes birdcage {
	0%   {background-color:#222;}
	100% {background-color:white;}
}
canvas {
	background-color:transparent !important;
	color: transparent !important;
}
@media screen and (max-width:480px) {
    .birdcage1      { display:none }
    .birdcage2      { display:none }
    .sidebar_left  { display:none}
    .sidebar_right { display:none}
}
@media screen and (max-width:600px) {
    .birdcage1      { display:none }
    .birdcage2      { display:none }
    .sidebar_left  { display:none}
    .sidebar_right { display:none}
}
@media screen and (max-width:800px) {
    .birdcage1      { display:none }
    .birdcage2      { display:none }
    .sidebar_left  { display:none}
    .sidebar_right { display:none}
}
